{% import "bootstrap/utils.html" as utils %} {% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block title %}Login{% endblock %} {% block body %}
<div class="content-section-form">
    <div class="center">
        <!-- display flashed messages -->
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        {% endfor %}

        <h1 class="text-center">Login to your account</h1>
        <br/> {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}