{% extends "base.html" %} {% block title %}View Profile{% endblock %} {% block body %}
<div id="mainwrap">
    <img src="../../static/img/avatar.png" id="avatar">
    <p id="cname">{{current_user.first_name}} {{current_user.last_name}}</p>
    <p id="cusername" class="textcontent">@{{current_user.username}}</p>
    <br>
    <div> <span id="roles"><i class="fa fa-id-badge"></i></i> ID: {{current_user.id}}</span></div>
    <br>
    <div> <span id="mail"><i class="fa fa-envelope"></i><a href="mailto:{{current_user.email}}"> Email: {{current_user.email}}</a></span></div>
    <br>
    <div> <span id="roles"><i class="fa fa-vcard-o"></i> Role: {% if not current_user.role %} Not specified {% else %} {{current_user.role}} {% endif %}</span></div>
    <br>
    <div> <span id="depart"><i class="fa fa-building"></i> Department: {% if not current_user.department %} Not specified {% else %} {{current_user.department}} {% endif %}</span></div>
    <br>
    <div> <span id="depart"><i class="fa fa-dollar"></i> Pay Grade : {% if not current_user.grade %} Not specified {% else %} {{current_user.grade}} {% endif %}</span></div>
</div>
{% endblock %}
